*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
#input-text{
    width: 40vw;
    height: 110px;
    overflow-y: hidden;
    display: block;
    color: rgba(0, 0, 0, 0.342);
    padding: 10px;
    outline: 0;
}

#output-text{
    width: 40vw;
    height: 110px;
    overflow-y: hidden;
    display: block;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.404);
    
}

#main{
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: 0 4%;
}
#main h1{
    font-family: -apple-system,  'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
}
#btn{
    margin: 10px 0;
    padding: 10px 35px;
    background-color: #F2C94C;
    outline: 0;
    border: 0;
    transition: 0.3s;
    cursor: pointer;
    font-size: large;
}
#btn:hover{
    background-color: #f7ba06;
}
.minion-img{
    width: 40vw;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}
nav, footer{
   
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 20px 0;
    background-color: #F2C94C;

}


@media (max-width: 668px){
    #main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
     }
     .minion-img{
        width: 40vw;
        
    }
}